<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/style.css">
<title> + Alterar Alunos</title>
<meta name="author" content="Bruno Guilherme"/>
<script src="https://kit.fontawesome.com/006642858d.js"></script>
<script src="js/main.js"></script>
</head>
<body>
	<div th:replace="fragmentos/fragmentos :: cabecalho"></div>
	
	<div class="container" style="margin-top: 25px">
		
		<h4>+ Alterar Alunos</h4>
		<hr>
		
		<form method="POST" action="/alterar" th:object="${aluno}">
		
			<input type="hidden" thfield="*{id}">
		
			<!-- Aluno -->
			
			<div class="row">
				<div class="col-md-4 form-group offset-md-1">
					<label>Nome do Aluno: </label>
					<input class="form-control" type="text" placeholder="Ex: Fulano da Silva" th:field="*{nome}">
				</div>
			</div>
			
			<!-- Curso -->
			
			<div class="row">
				<div class="col-md-4 form-group offset-md-1">
					<label>Selecione o Curso: </label>
					<select class="form-control" name="curso" th:field="*{curso}">
					<option th:each="curso : ${T(br.com.academy.Enums.Curso).values()}" th:value="${curso}" th:text="${curso}"></option>
					</select>
				</div>
			</div>
			
			<!-- Matricula -->
			
			<div class="row">
				<div class="col-md-4 form-group offset-md-1">
					<label>Gerar Matricula: </label>
					<input readonly="readonly" id="matricula" class="form-control" th:field="*{matricula}">
<!-- 					<button type="button" onclick="GerarMatricula();" class="btn btn-dark" style="margin-top: 8px">Gerar</button> -->
				</div>
			</div>
			
			<!-- Status -->
			
			<div class="row">
				<div class="col-md-4 form-group offset-md-1">
					<label>Selecione o Status: </label>
					<select class="form-control" name="status" th:field="*{status}">
						<option th:each="status : ${T(br.com.academy.Enums.Status).values()}" th:value="${status}" th:text="${status}"></option>
					</select>
				</div>
			</div>
			
			<!-- Turno -->
			<!-- Fazer uma lista com um Enum-->
			<div class="row">
				<div class="col-md-4 form-group offset-md-1">
					<label>Turno: </label>
					<input class="form-control" type="text" placeholder="Ex: Manha" th:field="*{turno}">
				</div>
			</div>
			
			<br>
			<div class="row">
				<button type="submit" class="btn btn-success offset-md-1">Salvar</button>
				&nbsp;&nbsp;&nbsp;
				<button class="btn btn-danger">Voltar</button>
			</div>
			
		</form>
	</div>
			
		
	
	<div th:replace="fragmentos/fragmentos :: rodape">
	
	<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>